@{
    ViewData["Title"] = "Home Page";
}

<div class="grid-index">
    <div class="d-flex align-items-center">
        <img src="~/img/index.svg" class="w-100 d-block" tabindex="-1" />
    </div>
    <div class="d-flex align-items-center justify-content-center pl-4">
        <div class="text-center">
            <h1 class="display-4">WebApiMedParser</h1>
            <p>Мы помогаем экономить медицинским компаниям, минимзируя издержки на некачественные электронные медицинские карты</p>
        </div>
    </div>
</div>
<div class="why pt-5">
    <div class="grid-why">
        <div class="shadow p-3 text-center rounded">
            <div class="d-flex justify-content-center pt-2 pb-2">
                <div class="why-img mb-3">
                    <img src="~/img/dollar-sign-alt.svg" />
                </div>
            </div>
            <div class="pb-2">
                <h2>Экономия</h2>
                <div>Наше решение позволяет отказаться от рутинной работы проверки медицинских карт, при этом значительно снизить количество штрафов за неполные или некачественно оформленные медицинские карты</div>
            </div>
        </div>
        <div class="shadow p-3 text-center rounded">
            <div class="d-flex justify-content-center pt-2 pb-2">
                <div class="why-img mb-3">
                    <img src="~/img/key-skeleton.svg" />
                </div>
            </div>
            <div class="pb-2">
                <h2>Интеграция</h2>
                <div>Наше решение позволит вам быстро интегрировать его в существующую МИС, а кроссплатформеность оболочек даст возможность разместить их на люой ОС или позволит самим выполнить подклчюение к нашему API</div>
            </div>
        </div>
        <div class="shadow p-3 text-center rounded">
            <div class="d-flex justify-content-center pt-2 pb-2">
                <div class="why-img mb-3">
                    <img src="~/img/book-medical.svg" />
                </div>
            </div>
            <div class="pb-2">
                <h2>Парсинг</h2>
                <div>Мы можем анализировать различные виды шаблонов электронных карт в различных форматах, и распознавать в них смысловую нагрузку, которую несет в себе текст</div>
            </div>
        </div>
        <div class="shadow p-3 text-center rounded">
            <div class="d-flex justify-content-center pt-2 pb-2">
                <div class="why-img mb-3">
                    <img src="~/img/users-alt.svg" />
                </div>
            </div>
            <div class="pb-2">
                <h2>Клиенты</h2>
                <div>Наша система позволяет использовать ее различным звеньям медицинской сферы в различных удобных форматах взаимодействия с ними</div>
            </div>
        </div>
        <div class="shadow p-3 text-center rounded">
            <div class="d-flex justify-content-center pt-2 pb-2">
                <div class="why-img mb-3">
                    <img src="~/img/file-check.svg" />
                </div>
            </div>
            <div class="pb-2">
                <h2>Стандарты</h2>
                <div>Мы отслеживаем изменения в нормативно правовой базе, обновляем текущие стандарты и приказы, при этом позволяем плавно переходить на новые нормативно-правовые акты</div>
            </div>
        </div>
        <div class="shadow p-3 text-center rounded">
            <div class="d-flex justify-content-center pt-2 pb-2">
                <div class="why-img mb-3">
                    <img src="~/img/cloud-database-tree.svg" />
                </div>
            </div>
            <div class="pb-2">
                <h2>Поддержка</h2>
                <div>Мы оказываем поддержку клиентам по интеграции оболочек, их настройке и подключению с нашим сервисом, а также периодически обновляем их</div>
            </div>
        </div>
    </div>
</div>
<div class="process">
    <div class="grid-process">
        <div class="d-flex align-items-center">
            <div>
                <h2 class="text-dark mb-4">Экспертиза мед карты</h2>
                <div class="grid-process-item">
                    <div>
                        <img src="~/img/check-circle-fill.svg" />
                    </div>
                    <div>Анализ заполнения карты</div>
                </div>
                <div class="grid-process-item">
                    <div>
                        <img src="~/img/check-circle-fill.svg" />
                    </div>
                    <div>Анализ услуг по диагностике</div>
                </div>
                <div class="grid-process-item">
                    <div>
                        <img src="~/img/check-circle-fill.svg" />
                    </div>
                    <div>Анализ услуг по лечению</div>
                </div>
                <div class="grid-process-item">
                    <div>
                        <img src="~/img/check-circle-fill.svg" />
                    </div>
                    <div>Анализ назначенных препаратов</div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <img src="~/img/process2.svg" class="d-block w-100" />
        </div>
    </div>
</div>
<div class="mis">
    <div class="text-center"><h2>Скачайте последние оболочки для своей МИС</h2></div>
    <div class="grid-mis">
        <div class="mis-item">MEDODS</div>
        <div class="mis-item">Medesk</div>
        <div class="mis-item">MedElement</div>
        <div class="mis-item">Clinic365</div>
        <div class="mis-item">Инфоклиника</div>
        <div class="mis-item">IDENT</div>
        <div class="mis-item">ClinicIQ</div>
        <div class="mis-item">MEDODS</div>
        <div class="mis-item">МедОфис</div>
        <div class="mis-item">Renovatio</div>
        <div class="mis-item">БАРС.Мед</div>
        <div class="mis-item">Медиалог</div>
        <div class="mis-item">MGERM</div>
        <div class="mis-item">1С БИТ</div>
        <div class="mis-item">РТ МИС</div>
        <div class="mis-item">MGERM</div>
    </div>
</div>
<div class="info">
    <div class="grid-info">
        <div class="d-flex align-items-center">
            <img src="~/img/info.svg" class="w-100 d-block" />
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <div class="d-block">
                <div class="text-center mt-n3 d-block">
                    <h2>Распознавание текста</h2>
                </div>
                <div class="w-50 pt-4 pb-5">
                    <div class="info-chart border rounded-circle position-relative">
                        <div class="position-absolute p-2 border bg-white info-chart-1">Аббревиатуры</div>
                        <div class="position-absolute p-2 border bg-white info-chart-2">Сокращения</div>
                        <div class="position-absolute p-2 border bg-white info-chart-3">Опечатки</div>
                        <div class="position-absolute p-2 border bg-white info-chart-4">Тривиальные наименования</div>
                        <div class="position-absolute p-2 border bg-white info-chart-5">Различные варианты написания МКБ-10 и заболеваний</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>